{
  "plugins": ["import", "@typescript-eslint", "prettier"],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.lint.json",
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "global-require": "off",
    "import/named": "error",
    "import/namespace": "error",
    "import/newline-after-import": "error",
    "import/no-absolute-path": "error",
    "import/no-amd": "error",
    "import/no-deprecated": "error",
    "import/no-duplicates": "error",
    "import/no-dynamic-require": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": false,
        "optionalDependencies": true,
        "peerDependencies": true
      }
    ],
    "import/no-mutable-exports": "error",
    "import/no-unassigned-import": "error",
    "import/no-unresolved": [
      "error",
      {
        "amd": true,
        "commonjs": true
      }
    ],
    "import/no-webpack-loader-syntax": "error",
    "import/extensions": "off",
    "no-console": "error",
    "no-param-reassign": "error",
    "@typescript-eslint/no-var-requires": "off"
  },
  "overrides": [
    {
      "files": ["src/cli/**"],
      "rules": {
        "no-console": "off"
      }
    },
    {
      "files": ["src/utils/**"],
      "rules": {
        "import/prefer-default-export": "off"
      }
    },
    {
      "plugins": ["jest"],
      "extends": "plugin:jest/recommended",
      "files": ["**/**.test.ts", "tests/**/**.{j,t}s"],
      "rules": {
        "import/first": "off",
        "import/no-extraneous-dependencies": "off",
        "import/no-unassigned-import": "off",
        "no-console": "off"
      }
    },
    {
      "files": ["scripts/**"],
      "rules": {
        "import/first": "off",
        "import/no-extraneous-dependencies": "off",
        "no-console": "off"
      }
    }
  ]
}
