{
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "plugins": ["@typescript-eslint", "jest"],
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:jest/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "global-require": 0,
    "import/named": 2,
    "import/namespace": 2,
    "import/newline-after-import": 2,
    "import/no-absolute-path": 2,
    "import/no-amd": 2,
    "import/no-deprecated": 2,
    "import/no-duplicates": 2,
    "import/no-dynamic-require": 2,
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": false,
        "optionalDependencies": true,
        "peerDependencies": true
      }
    ],
    "import/no-mutable-exports": 2,
    "import/no-unassigned-import": 2,
    "import/no-unresolved": [
      2,
      {
        "amd": true,
        "commonjs": true
      }
    ],
    "import/no-webpack-loader-syntax": 2,
    "no-console": 2,
    "no-param-reassign": 2,
    "@typescript-eslint/no-var-requires": 0
  },
  "overrides": [
    {
      "files": ["src/cli/**/**.ts"],
      "rules": {
        "no-console": 0
      }
    },
    {
      "files": ["**/**/**.test.ts", "**/__tests__/**/**.{j,t}s"],
      "env": {
        "jest/globals": true
      },
      "rules": {
        "import/first": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-unassigned-import": 0,
        "no-console": 0
      }
    }
  ]
}
